@use "sass:color";
@use "../../styles/variables.scss" as *;

$table-border-color: #ddd;
$primary-color: #007bff;

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-wrap: nowrap;
        gap: 30px;

        .searchInput {
            padding: 10px 20px;
            width: 100%;
            border: 1px solid $table-border-color;
            border-radius: 4px;
            max-width: 800px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            font-weight: 200;

            &::placeholder {
                color: $gray-light;
                font-weight: 200;
            }
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
}

.table th {
    font-size: 16px;
    font-weight: 300;
    background: linear-gradient(360deg, #FFFFFF 0%, #F7F7F7 100%);
    cursor: pointer;
}

.table td {
    font-weight: 200;
    color: $gray-medium;
}

.table tbody tr:hover {
    background-color: color.adjust($gray-light, $lightness: 8%);
}

.action-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: color.adjust($gray-light, $lightness: 10%);
    }
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    span {
        font-size: 14px;
        color: $gray-medium;
    }

    button {
        padding: 5px 10px;
        border: none;
        background-color: $gray-medium;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-size: 12;
        transition-duration: 0.3s;

        &:hover {
            opacity: 0.6;
            transition-duration: 0.3s;
        }

        &:disabled {
            background-color: $gray-light;
            pointer-events: none;
        }
    }
}