@use "../../../styles/variables.scss" as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;

    .container {
        width: 100%;
        max-width: 400px;
    }
}