@use "../../styles/variables.scss" as *;

.chartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .info {
        position: absolute;
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 10px;
        top: 100px;
    }
    
    @media (max-width: 530px) {
        font-size: 14px;
    }
}

.timeframeSelector {
    display: flex;
    gap: 15px;

    button {
        padding: 8px 20px;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 10px;
        color: $gray-dark;
        cursor: pointer;
        border: 1px solid #ccc;
        transition: background 0.2s ease;

        &.active {
            background: $royalBlue;
            color: #fff;
            border: none;
        }

        &:hover {
            background: lighten($royalBlue, 40%);
        }
    }

}