@import "../../../styles/variables.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 10px;
        padding: 30px;
        gap: 20px;
        width: 100%;
        max-width: 500px;

        .invoiceId {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .key {
                color: $gray-medium
            }

            .value {
                color: $royalBlue
            }
        }

        .columnContainer {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 100%;

            input {
                width: 100%;
                padding: 10px 20px;
                background: #FFFFFF;
                border: 1px solid #E2E2E2;
                border-radius: 10px;
            }

            table {
                width: 100%;

                td {
                    padding-bottom: 10px;
                }

                td:first-child {
                    padding-right: 10px;
                }

                .amountCell {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                }
            }

            .addBttn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 5px 20px;
                gap: 10px;
                background: #0051FF;
                border-radius: 10px;
                color: white;
                font-size: 14px;
                transition-duration: 0.3s;

                &:hover {
                    opacity: 0.8;
                    transition-duration: 0.3s;
                }
            }
        }

        .actionContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 10px;


            .secondaryBttn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 5px 20px;
                gap: 10px;
                background: #FFFFFF;
                border: 1px solid #E2E2E2;
                border-radius: 10px;
                transition-duration: 0.3s;

                &:hover {
                    background-color: $gray-light;
                    transition-duration: 0.3s;
                }

                &:disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }
            }

            .primaryBttn {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #0051FF;
                border: 0.5px solid #AAAAAA;
                border-radius: 10px;
                border: none;
                outline: none;
                padding: 15px;
                width: 100%;
                color: white;
                transition-duration: 0.3s;

                &:disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }

                &:hover {
                    opacity: 0.8;
                    transition-duration: 0.3s;
                }
            }
        }


    }
}