@use "../../styles/variables.scss" as *;


.actionCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $cardGradient;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 350px;
    position: relative;

    &.column {
        flex-direction: column;
    }

    .badge {
        position: absolute;
        right: 0;
        top: -15px;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        svg {
            color: $gray-dark;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .description {
                font-size: 14px;
                font-weight: 200;
                color: $gray-medium;
            }
        }
    }

    .action {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        gap: 10px;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 10px;
        font-size: 14px;
        text-decoration: none;
        color: black;
        font-weight: 400;
        transition-duration: 0.3s;
        width: 100px;

        &:hover {
            background: #F5F5F5;
            transition-duration: 0.3s;
        }
    }
}