@use "../../styles/variables.scss" as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;

    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 50px;

        .actionCardContainer {
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        .activityContainer {
            flex: 7;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            height: 100%;

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 10px;

                .topRow {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .dropdownContainer {
                        @media (max-width: 530px) {
                            font-size: 14px;
                        }
                    }
                }

                .dataRow {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    width: 100%;
                    gap: 40px;

                    @media (max-width: 530px) {
                        font-size: 14px;
                    }

                    .dataItem {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: start;

                        .value {
                            color: $royalBlue;
                            font-weight: 400;
                        }
                    }
                }
            }
        }


        @media (max-width: 670px) {
            flex-direction: column;

            .actionCardContainer {
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                flex: auto;
                gap: 20px;
            }

            .activityContainer {
                width: 100%;
            }
        }
    }

    .tableContainer {
        width: 100%;
    }
}