@import "../../../../styles/variables.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        gap: 10px;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;

        &.invoice {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 20px;

            .header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                width: 100%;
                gap: 5px;

                .value {
                    color: $royalBlue;
                }

                .amountContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    width: 100%;
                    font-size: 24px;
                    font-weight: 600;
                    gap: 10px;
                }

                .expiry {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 10px;
                }
            }

            .hr {
                height: 1px;
                width: 100%;
                background-color: $gray-light;
            }

            table {
                width: 100%;

                td {
                    padding-bottom: 10px;
                }

                tr {
                    :nth-child(2) {
                        font-weight: 500;
                    }
                }
            }
        }

        &.payment {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 100%;

            .paymentOption {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 5px;
            }

            .assetInfoContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 20px;

                .assetInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    width: 100%;

                    .assetBox {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 5px 10px;
                        gap: 10px;
                        background: #FFFFFF;
                        border: 1px solid #CDCDCD;
                        border-radius: 8px;
                        width: 100%;
                    }
                }
            }


            .qrContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                border: 0.5px solid #E2E2E2;
                border-radius: 10px;
                padding: 20px;
                gap: 10px;

                .addressContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    span {
                        width: 100%;
                    }
                }
            }
        }

        &.success {
            svg {
                max-width: 150px;
            }
        }

        .secondaryBttn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px 20px;
            gap: 10px;
            background: #FFFFFF;
            border: 1px solid #E2E2E2;
            border-radius: 10px;
            transition-duration: 0.3s;
            width: 100%;

            &:hover {
                background-color: $gray-light;
                transition-duration: 0.3s;
            }

            &:disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }

        .primaryBttn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #0051FF;
            border: 0.5px solid #AAAAAA;
            border-radius: 10px;
            border: none;
            outline: none;
            padding: 15px;
            width: 100%;
            color: white;
            transition-duration: 0.3s;

            &:disabled {
                opacity: 0.5;
                pointer-events: none;
            }

            &:hover {
                opacity: 0.8;
                transition-duration: 0.3s;
            }
        }

        input {
            border: 0.5px solid #E2E2E2;
            border-radius: 10px;
            padding: 5px 20px;
            width: 100%;
        }
    }
}