@use "../../styles/variables.scss" as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;

    .header {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
        gap: 10px;

        .statsContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 40px;

            @media (max-width: 830px) {
                flex-direction: column;
                // flex-wrap: wrap;
            }

            .stats {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                gap: 10px;
                max-width: 900px;

                @media (max-width: 830px) {
                    width: 100%;
                    flex-wrap: wrap;
                    gap: 15px;
                }

                .stat {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    flex: 1 1 auto;

                    .value {
                        color: $gray-medium;
                        font-weight: 500;
                    }
                }
            }

            .actionCardContainer {
                flex-shrink: 0;
            }
        }
    }

    .tableContainer {
        width: 100%;
    }
}