.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    &.payment {
        background: linear-gradient(116.82deg, #FBFEFF 0%, #E5F7FF 52.28%);
    }

    .outlet {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        max-height: 100vh;
        height: 100vh;
        width: 100%;
        overflow: scroll;
        padding: 40px;
        gap: 40px;

        .backRow {
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            gap: 10px;
            transition-duration: 0.3s;

            &:hover {
                opacity: 0.5;
                transition-duration: 0.3s;
            }
        }
    }
}