@use "../../../styles/variables.scss" as *;

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;

    .qrContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 100%;
        max-width: 300px;

        svg {
            padding: 20px;
            width: 100%;
            height: 100%;
        }

        .hr {
            height: 1px;
            width: 100%;
            background-color: $gray-light;
        }

        span {
            padding: 20px;
            text-align: center;
        }
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        width: 100%;
        max-width: 350px;
        background: $cardGradient;
        gap: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
        padding: 40px;

        .tokens {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 25px;

            .token {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .tokenInfoContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                }

                .tokenImg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray-light;
                }

                .tokenCol {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;

                    .subtitle {
                        font-size: 14px;
                        color: $gray-medium;
                    }

                    &.balance {
                        align-items: end;
                        font-weight: 400;

                        .title {
                            color: $royalBlue;
                        }
                    }
                }
            }
        }
    }
}