@use "../../styles/variables.scss" as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
        margin-bottom: 1rem;
        color: #333;
    }

    p {
        margin: 0.5rem 0;
        color: #666;
    }

    .secondaryBttn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        gap: 10px;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 10px;
        transition-duration: 0.3s;
        margin-top: 1.5rem;
        width: 100%;

        &:hover {
            background-color: $gray-light;
            transition-duration: 0.3s;
        }

        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
} 