$cardGradient: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);

$royalBlue: #0051FF;

$gray-light: #E2E2E2;
$gray-medium: #777777;
$gray-dark: #4A4A4A;

$logoutRed: #EB4335;

$draft: #FBBC05;
$outstanding: #FF6F00;
$overdue: #EB4335;
$paid: #1ECB4F;
$void: #777777;
$partial: #64CFF9;